body            { font-family: sans-serif; background: #fff; }
h1              { font-family: 'Times New Roman', times, serif; border-bottom: 2px solid #eee; margin: 0; }
h2              { font-family: 'Times New Roman', times, serif; border-bottom: 0px solid #eee; margin: 0; }
table           { font-family: sans-serif; }
th tr, td       { font-family: sans-serif; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                 padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                 margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                 border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.datagrid table { border-collapse: collapse; text-align: center; width:100%;} .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; }

div#content {
   display: none;
   }

div#loading {
   top: 200 px;
   margin: auto;
   position: absolute;
   z-index: 1000;
   width: 500px;
   height: 500px;
   background: url(loading.gif) no-repeat;
   cursor: wait;
   }


.header ul { list-style-type: none; margin: -20px; padding: 0; overflow: hidden; background-color: #fff; margin-left: 10%;} .header li { float: left; line-height:75px;} .header li a { display: block; color: gray; text-align: center; padding: 20px 12px 0px 12px; text-decoration: none;} .header li a:hover { color: #32BCDE;} .header h1 { border-bottom: 2px solid #eee; margin: 0; }
.content { font-family: sans-serif; color: #5D5E5F; margin: 10px auto; width: 75%; border: 0px solid #ccc; padding: 0.8em; background: white; }

.controls table { border-collapse: separate; text-align: center; width:80%; margin-left: 10%; background: #fff; border-spacing: 10px;} .controls table tr, .controls table th, .controls table td a {border-collapse: separate; border-spacing: 10px; background: #F3F3F3; width:50px; text-decoration: none; color:#5D5E5F;}
.container  table { border-collapse: collapse; text-align: left; margin: 20px auto;  width:50%; background: #fff;} .container table tr, .container table th, .container table td a {border-collapse: collapse;  background: #FFF; text-decoration: none; color:#5D5E5F;}
.home img { width:100%; margin:-20px 0px 0px 0px; position: relative;} .home h1 {position: absolute; top:250px; left:30%; width: 100%; border-bottom: 0px;} .home h2 {position: absolute; top:300px; left:35%; width: 100%; border-bottom: 0px;}

.tables table {border-collapse: collapse; text-align: center; width: 50%; border: 0px; font: normal 12px/150% Arial, Helvetica, sans-serif;} .tables table th {background: #EDEDED; }



table {
 font-family:Arial, Helvetica, sans-serif;
 color:#666;
 font-size:12px;
 text-shadow: 1px 1px 0px #fff;
 background:#eaebec;
 border:#ccc 1px solid;

 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;

 -moz-box-shadow: 0 1px 2px #d1d1d1;
 -webkit-box-shadow: 0 1px 2px #d1d1d1;
 box-shadow: 0 1px 2px #d1d1d1;
}
table th {
 padding:21px 25px 22px 25px;
 border-top:1px solid #fafafa;
 border-bottom:1px solid #e0e0e0;

 background: #ededed;
 background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
 background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
 text-align: left;
 padding-left:20px;
}
table tr:first-child th:first-child {
 -moz-border-radius-topleft:3px;
 -webkit-border-top-left-radius:3px;
 border-top-left-radius:3px;
}
table tr:first-child th:last-child {
 -moz-border-radius-topright:3px;
 -webkit-border-top-right-radius:3px;
 border-top-right-radius:3px;
}
table tr {
 text-align: center;
 padding-left:20px;
}
table td:first-child {
 text-align: left;
 padding-left:20px;
 border-left: 0;
}
table td {
 padding:18px;
 border-top: 1px solid #ffffff;
 border-bottom:1px solid #e0e0e0;
 border-left: 1px solid #e0e0e0;

 background: #fafafa;
 background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
 background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
 background: #f6f6f6;
 background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
 background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
 border-bottom:0;
}
table tr:last-child td:first-child {
 -moz-border-radius-bottomleft:3px;
 -webkit-border-bottom-left-radius:3px;
 border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
 -moz-border-radius-bottomright:3px;
 -webkit-border-bottom-right-radius:3px;
 border-bottom-right-radius:3px;
}


.controls table td:hover {
 background: #f2f2f2;
 background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
 background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.tables table tr:hover td {
 background: #f2f2f2;
 background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
 background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
